<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-sm btn-success my-2" (click)="openAddAugmentMarkerModal(addAugmentMarkerModal)">
      <i class="fa fa-cube"></i> Augment marker
    </button>
    <!--div class="row">
      <div class="col-6 col-sm-3 col-md-6 col-lg-6 text-center" *ngFor="let m of markers | async">
        <div class="img-wrap">
          <button type="button" class="delete btn btn-danger btn-sm" (click)="deleteMarker(m.id)" >
            <i class="far fa-trash-alt"></i>
          </button>
          <img src="{{ m.thumbnail }}" class="img-fluid">
        </div>
        <small>{{ m.name }}</small>
      </div>
    </div-->
  </div>
</div>

<ng-template #addAugmentMarkerModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" l10nTranslate>augmentMarker</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addAugmentMarker()" #addAugmentMarkerForm="ngForm">
      <div class="form-row">
        <div class="form-group col-6">
          <label l10nTranslate>resource</label>
          <select class="form-control" [(ngModel)]="newResource" [compareWith]="equalResources" name="newResource" appResourceExistsValidator="{{ project.id }}" #resource="ngModel">
            <ng-container *ngFor="let r of resources | async">
              <!-- TODO: Use a global variable -->
              <option *ngIf="r.type !== 'marker'" [ngValue]="r">{{ r.name }}</option>
            </ng-container>
          </select>
          <img src="{{ newResource.thumbnail }}" class="img-fluid">
        </div>
        <div class="form-group col-6">
          <label l10nTranslate>marker</label>
          <select class="form-control" [(ngModel)]="newMarker" [compareWith]="equalResources" name="newMarker" appResourceExistsValidator="{{ project.id }}" #marker="ngModel"> 
            <ng-container *ngFor="let r of resources | async">
              <!-- TODO: Use a global variable -->
              <option *ngIf="r.type === 'marker'" [ngValue]="r">{{ r.name }}</option>
            </ng-container>
          </select>
          <img src="{{ newMarker.thumbnail }}" class="img-fluid">
        </div>
      </div>
      <div class="form-group">
        <!--TODO: Improve feedback with resource name and unique message -->
        <div class="invalid-feedback" style="display:block" *ngIf="resource.hasError('resourceExists')" l10nTranslate>resourceExists</div>
        <div class="invalid-feedback" style="display:block" *ngIf="marker.hasError('resourceExists')" l10nTranslate>resourceExists</div>
      </div>
      <div class="modal-footer">
        <small l10nTranslate>augmentResource</small> <strong class="text-success">{{ newResource.name || '_____' }}</strong> <small l10nTranslate>onMarker</small> <strong class="text-success">{{ newMarker.name || '_____' }}</strong>
        <button type="submit" class="btn btn-outline-success" [disabled]="!addAugmentMarkerForm.form.valid">OK</button>
      </div>
    </form>
  </div>
</ng-template>
