<button type="button" class="btn btn-sm btn-success my-2" (click)="openAddAugmentMarkerModal(addAugmentMarkerModal)" l10nTranslate>
  <i class="fa fa-cube"></i> augmentMarker
</button>
<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-12" *ngFor="let c of components | async">
    <div class="card clickable text-center mb-1 over-wrap" (click)="selectComponent(c)" [ngClass]="{'card-selected':c.id === selectedComponent?.id}">
      <button type="button" class="delete-up btn btn-danger btn-sm" (click)="deleteAugmentMarker(c.id)" >
        <i class="far fa-trash-alt"></i>
      </button>
      <div class="card-body">
        <div class="row">
          <div class="col-5"><img class="img-fluid" src="{{ c.inputs[0].thumbnail }}"></div>
          <div class="col-2"><br><i class="fas fa-arrows-alt-h"></i></div>
          <div class="col-5"><img class="img-fluid" src="{{ c.inputs[1].thumbnail }}"></div>
        </div>
      </div>
      <div class="card-footer">
        <small>{{ 'augmentResource' | translate:lang }} <strong class="text-info">{{ c.inputs[0].name }}</strong> {{ 'onMarker' | translate:lang }} <strong class="text-info">{{ c.inputs[1].name }}</strong></small>
      </div>
      </div>
  </div>
</div>


<ng-template #addAugmentMarkerModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" l10nTranslate>augmentResourceOnMarker</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addAugmentMarker()" #addAugmentMarkerForm="ngForm">
      <div class="form-row">
        <div class="form-group col-6">
          <label l10nTranslate>resource</label>
          <select class="form-control" [(ngModel)]="newResource" [compareWith]="equalResources" name="newResource" appResourceExistsValidator="{{ project.id }}" #resource="ngModel">
            <ng-container *ngFor="let r of resources | async">
              <!-- TODO: Use a global variable -->
              <option *ngIf="r.type !== 'marker'" [ngValue]="r">{{ r.name }}</option>
            </ng-container>
          </select>
          <img src="{{ newResource.thumbnail }}" class="img-fluid">
        </div>
        <div class="form-group col-6">
          <label l10nTranslate>marker</label>
          <select class="form-control" [(ngModel)]="newMarker" [compareWith]="equalResources" name="newMarker" appResourceExistsValidator="{{ project.id }}" appResourceUsedAugmentMarkerValidator="{{ project.id }}" #marker="ngModel"> 
            <ng-container *ngFor="let r of resources | async">
              <!-- TODO: Use a global variable -->
              <option *ngIf="r.type === 'marker'" [ngValue]="r">{{ r.name }}</option>
            </ng-container>
          </select>
          <img src="{{ newMarker.thumbnail }}" class="img-fluid">
        </div>
      </div>
      <div class="form-group">
        <!--TODO: Improve feedback with resource name and unique message -->
        <div class="invalid-feedback" style="display:block" *ngIf="resource.hasError('resourceExists')" l10nTranslate>resourceExists</div>
        <div class="invalid-feedback" style="display:block" *ngIf="marker.hasError('resourceExists')" l10nTranslate>resourceExists</div>
        <div class="invalid-feedback" style="display:block" *ngIf="marker.hasError('resourceUsedInAugmentMarker')" l10nTranslate>markerAlreadyUsed</div>
      </div>
      <div class="modal-footer">
        <small>{{ 'augmentResource' | translate:lang }} <strong class="text-info">{{ newResource.name || '_____' }}</strong> {{ 'onMarker' | translate:lang }} <strong class="text-info">{{ newMarker.name || '_____' }}</strong></small>
        <button type="submit" class="btn btn-outline-success" [disabled]="!addAugmentMarkerForm.form.valid">OK</button>
      </div>
    </form>
  </div>
</ng-template>
