<div class="row">
  <div class="col-12">
    <ngb-accordion #acc="ngbAccordion" activeIds="static-1">
      <ngb-panel id="static-1">
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Poly Objects</button>
            <button type="button" class="btn btn-sm btn-success ml-2" (click)="a.collapseAll()"><i class="fa fa-plus"></i></button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-4 col-sm-3 col-md-2 col-lg-6 col-xl-4" *ngFor="let pr of polyResources; let i = index">
              <img src="{{ pr.thumbnail.url }}" class="img-fluid mb-1">
              <p class="text-center">{{ polyResourcesIds[i] }}</p>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>