<h1>{{ project.title }}</h1>
<p>{{ project.description }}</p>
<hr>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 mt-1">
    <div class="bg-info text-center text-white p-2" l10nTranslate>step1</div>
    <app-marker [project]="project"></app-marker>
    <app-poly-object [project]="project" ></app-poly-object>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mt-1">
    <div class="bg-info text-center text-white p-2" l10nTranslate>step2</div>
    <app-augment-marker [project]="project"></app-augment-marker>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-5 mt-1">
    <div class="bg-info text-center text-white p-2" l10nTranslate>step3</div>
  </div>
</div>