<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-9">
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-3">
    <button type="button" class="btn btn-outline-primary btn-md float-right" (click)="openPreviewKeyModal(previewKeyModal)">
      <i class="fas fa-play"></i>
      PREVIEW THIS APP
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-3 mt-1">
    <div class="bg-primary text-center text-white p-2" l10nTranslate>step1</div>
    <app-marker [project]="project"></app-marker>
    <app-poly-object [project]="project" ></app-poly-object>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 mt-1">
    <div class="bg-primary text-center text-white p-2" l10nTranslate>step2</div>
    <app-augment-marker [project]="project"></app-augment-marker>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-5 mt-1">
    <div class="bg-primary text-center text-white p-2" l10nTranslate>step3</div>
    <div id="blocklyArea" style="height:60vh;">
      <div id="blocklyDiv"></div>
    </div>
    <div class="alert alert-success" *ngIf="componentConfigurationStatus === 'VALID'" l10nTranslate>validConfiguration</div>
    <div class="alert alert-danger" *ngIf="componentConfigurationStatus === 'INVALID'" l10nTranslate>invalidConfiguration</div>
  </div>
</div>

<ng-template #previewKeyModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Preview app</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Open SimpleAR app for Android and scan the following QR code</p>
    <div class="text-center">
      <img src="{{ 'https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=' + project.id }}" class="img-fluid">
    </div>
  </div>
</ng-template>