.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Cards for Project list */

.dashed-card {
    border-style: dashed !important;
    border-color: var(--primary) !important;;
    border-width: 4px !important;;
}

.clickable {
    cursor: pointer;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

/*Check input with images*/

label>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
    display: none;
}

label>input+img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 8px solid transparent;
}

label>input:checked+img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 8px solid var(--success);
}

.modal .modal-content{
    overflow:hidden;
}
.modal-body{
    overflow-y:scroll;
}
    